---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
    <header class="space-y-5">
        <section class="flex flex-col items-center gap-2">
            <img
                class="w-24 rounded-full"
                src="/iconDev.webp"
                alt="DevSinFrotneras Icon"
            />
            <h1 class="text-2xl font-bold">@DevSinFronteras</h1>
        </section>
        <section class="text-center space-y-3 jetbrains-mono">
            <a href="/" class="underline text-lg underline-offset-2"
                >Luis Eduardo Cortés</a
            >
            <p class="text-sm">
                En este proyecto, comparto mi conocimiento con la comunidad a
                través de videos en TikTok, Instagram y Facebook, con el
                objetivo de promover el aprendizaje y la difusión del desarrollo
                web.
            </p>
        </section>
    </header>
</MainLayout>
