---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../sections/Hero.astro";
import AboutMe from "../sections/AboutMe.astro";
import Education from "../sections/Education.astro";
import Skills from "../sections/Skills.astro";
import Projects from "../sections/Projects.astro";
import Certificates from "../sections/Certificates.astro";
import Blog from "../sections/Blog.astro";
import Footer from "../sections/Footer.astro";
---

<MainLayout>
    <Hero />
    <main class="my-16 space-y-10">
        <AboutMe />
        <Education />
        <Skills />
        <Projects />
        <Blog />
        <Certificates />
    </main>
    <Footer />
</MainLayout>
