---
import "@fontsource-variable/dm-sans";
import "@fontsource-variable/jetbrains-mono";
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <!-- HTML Meta Tags -->
        <title>Luis Eduardo Ocegueda Cortés</title>
        <meta
            name="description"
            content="+2 años de experiencia. Desarrollador Front-end y Back-End. Programador autodidacta."
        />
        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://www.luiseduardocortes.xyz" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Luis Eduardo Ocegueda Cortés" />
        <meta
            property="og:description"
            content="+2 años de experiencia. Desarrollador Front-end y Back-End. Programador autodidacta."
        />
        <!-- <meta property="og:image" content="/og.png" /> -->
        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta property="twitter:domain" content="luiseduardocortes.xyz" />
        <meta
            property="twitter:url"
            content="https://www.luiseduardocortes.xyz"
        />
        <meta name="twitter:title" content="Luis Eduardo Ocegueda Cortés" />
        <meta
            name="twitter:description"
            content="+2 años de experiencia. Desarrollador Front-end y Back-End. Programador autodidacta."
        />
        <!-- <meta name="twitter:image" content="/og.png" /> -->
        <!-- Meta Tags Generated via https://www.opengraph.xyz -->
        <ClientRouter />
    </head>
    <body>
        <slot />
    </body>
</html>

<style is:global>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
        font-family: "DM Sans Variable", sans-serif;
    }
    .jetbrains-mono {
        font-family: "JetBrains Mono Variable", monospace;
    }
</style>
